
    <div class="container mt-4">
      <h1 class="mb-4">Quiénes Somos</h1>
  
      <!-- Sección de Información sobre BodyForge Gym -->
      <div class="row">
        <div class="col-md-6">
          <img src="static/images/logo.png" alt="Imagen Nosotros" class="img-fluid mb-4">
        </div>
        <div class="col-md-6">
          <p>Somos BodyForge Gym, tu destino para alcanzar tus metas de fitness y bienestar. Fundado en 2023, nos enorgullece ofrecer un ambiente motivador y equipos de alta calidad para ayudarte a lograr tus objetivos de salud.</p>
          <p>Nuestro equipo de entrenadores altamente capacitados está comprometido a proporcionar la orientación y el apoyo que necesitas en cada paso de tu viaje fitness. Ya seas un principiante o un atleta experimentado, en BodyForge Gym, todos son bienvenidos.</p>
          <p>En nuestro compromiso con la excelencia, ofrecemos una amplia gama de clases, programas de entrenamiento personalizado y servicios de nutrición para satisfacer las necesidades individuales de nuestros miembros.</p>
        </div>
      </div>
  
      <!-- Valores y Misión -->
      <div class="mt-4">
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión en BodyForge Gym es inspirar y empoderar a las personas para que alcancen su mejor versión a través de la salud y el fitness. Nos esforzamos por crear un entorno inclusivo y motivador donde todos puedan prosperar.</p>
  
        <h2>Nuestros Valores</h2>
        <ul>
          <li><strong>Compromiso:</strong> Estamos comprometidos a proporcionar un servicio excepcional a nuestros miembros.</li>
          <li><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todas nuestras interacciones.</li>
          <li><strong>Comunidad:</strong> Fomentamos un sentido de comunidad donde todos son bienvenidos y apoyados.</li>
          <li><strong>Innovación:</strong> Buscamos continuamente mejorar y ofrecer nuevas oportunidades para el crecimiento personal.</li>
        </ul>
      </div>
  
    </div>
  
    <!-- Agrega la referencia a Bootstrap JS y Popper.js (necesarios para el funcionamiento de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

