
<title>Inicio de sesion</title>
<center><h1>Iniciar Sesion</h1></center>
<div class="form">
<form id="login_form" class="form">
	<input type="text" name="username" class="form-control" placeholder="username" >
	<br>
	<input type="password" name="password" class="form-control" placeholder="password" >
	<input type="submit" class="btn btn-primary btn-block">
</form>
</div>
<script>
$(document).on('submit', '#login_form', function(e) {
    e.preventDefault();
    
    const username = $('input[name="username"]').val();
    const password = $('input[name="password"]').val();

    $.ajax({
        url: 'http://localhost:8000/auth/login/',
        method: 'POST',
        crossDomain: true,
        credentials: 'include',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        data: JSON.stringify({
            username: username,
            password: password
        }),
        success: function(response) {
            localStorage.setItem('accessToken', response.access);
            localStorage.setItem('refreshToken', response.refresh);
            console.log('Login successful');
			window.location.href = '/home';
        },
        error: function(xhr, status, error) {
            console.log('Login failed:', error);
            console.log(xhr.responseText);
        }
    });
});
</script>
