<head>
<link rel="icon" href="static/images/logo.png" type="image/png">
</head>

<div class="navbar-main" id="navbar-main">
	<a class="page-navigator" href="/home"><img src="/static/images/logo.png" style="height: 100px;width:auto;"></a>
	<div id="session-manager" style="margin-left:auto;"></div>
	</div>
{% block content %}
{% endblock %}
<div class="page-footer">
	<div>
		<a class="page-navigator" href="/preguntas"><h4>Preguntas frecuentes</h4></a>
		<a class="page-navigator" href="/nosotros"><h4>Nosotros</h4></a>
	</div>
</div>
